
body{

  background-image: url("BOOKS-HD-WALLPAPER.jpg");
  background-attachment: fixed;
  background-size: cover;

 
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;

}   





.updata{
  font-size: 30px;
  margin-left: 20px;
  font-family: inherit;
  color: yellow;
 text-shadow: 1px 2px blueviolet;
 margin-top: 30px;
 font-weight: bold;
}



.form{
  height: 330px;
  width: 460px;

  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  
}
.formdata{
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
}



input{
  height: 25px;
  width: 300px;
}

.data{
  margin-left: 70px;
}
.value{
 
  color: white;
  font-size: 20px;
}

.value a{
  font-family: serif;
  color: white;
 

}

.value a:hover {
  background-color: powderblue;
  color: black;
  text-decoration: underline;
  
}

  
button{
color: red; 
height: 30px; 
width: 80px; 
margin-left: 32%; 
font-family: serif; 
font-size: 15px;
border: 0px solid black;

}
 
button:hover{background-color: lightcyan;
  box-shadow: 0 0 5px powderblue,0 0 25px powderblue, 0 0 50px powderblue;

}
