@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,400;0,700;1,400&display=swap');


body {
  background-color: rgb(236, 229, 211);
}

.title {
  font-family: 'Chivo Mono', monospace;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: center;
}

.title > a {
  text-decoration: none;
  color: rgb(0, 0, 0);

}
.MuiToolbar-root	{
  padding: 1px;
  background-color: rgb(212, 193, 125);
}

.search-bar {
  padding-top: 5px;
}

.login_icon {
  font-size: 15px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: none;
  color: rgb(7, 84, 90);
}

.login-s {
  padding: 10px;
}
.icon-center {
  text-align: right;
}

.menu {
  margin-top: 10px;
}

.MuiMenu-root	{
color: white;
}

.main_body {
  background: #dbcd9e;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
}

.card-container {
  background: #dbcd9e;
  width: 125px;
  height: 260px;
  padding: none;
  box-sizing: border-box;
  border: none;
}


.card-action {
  display: flex;
  justify-content: center;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.card-action > Button {
  font-weight: 600;
  text-transform: capitalize;
}

.card_section2 {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  text-decoration: underline;
  background-color: aliceblue;
}

.card_section3 {
  margin-top: 10px;
  box-sizing: border-box;
}

.card_section4 {
  width: 100%;
}
.card_section4 > img {
  width: 150%;
  height: 100%;
  border-radius: 10px;
}

.email_box, .pass_box {
  padding: 10px;
  margin: 10px;
}

.footer_d {
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

